
/* http://colorpalettes.net/color-palette-3059/ */

th {
    background-color: #362620;
    color: white;
}

tr .dependency-manager {
    background-color: #c89970;
}

tr .dependency-group {
    background-color: #e8d7a9;
}